body{
    color: red;
}
.black-border{
    border: 5px solid black;
}
#green-background{
    color: green;
}
body{
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;
}
